.App {
  width: 100%;
  height: 100%;
}

.App-header {
  background: #eef1f6;
}

.App-content {
  width: 100%;
}

.company-des {
  margin-bottom: 100px;
}

.company-icon {
  height: 60px;
  width: 60px;
  float: right;
}

.company-icon img {
  width: 100%;
  height: 100%;
}

.price-info {
  margin-bottom: 20px;
  box-shadow: 0 0 5px #8492A6;
}

.price-info-item {

}

.price-info-name, .price-info-price {
  font-size: 13px;
  font-weight: 300;
}

.price-info-price {
  display: inline-block;
  margin-left: 5px;
  font-weight: 300;
}

.price-info-change {
  font-size: 12px;
  display: inline-block;
  margin-left: 5px;
}

.green {
  color: #13ce66;
}

.red {
  color: #ff4949;
}

.carousel-item {
}

.carousel-item-img {
  width: 100%;
  height: 100%;
}

.carousel-item-des {
  position: absolute;
  top: 30px;
  left: 100px;
  font-size: 12px;
  font-weight: 500;
  color: #D3DCE6;
  max-width: 250px;
  background: #20A0FF;
  background: rgba(32, 160, 255, 0.5);
  border-radius: 40px;
  padding: 5px 10px;
}

.company-des {
  padding: 0 20px;
}

.company-des-title {
  font-size: 20px;
  /*background: #1D8CE0;*/
  /*color: #F9FAFC;*/
  /*text-align: center;*/
  /*border-radius: 20px;*/
  /*height: 40px;*/
  /*line-height: 40px;*/
  color: #1D8CE0;
}

.company-des-content {
  font-size: 14px;
}

.footer {
  background: #1D8CE0;
  color: #FFFFFF;
  padding: 0 20px;
}

.about {

}

.about h3 {
  font-size: 16px;
}

.communication {

}

.communication-item {
  margin-bottom: 30px;
}

.communication-item h4 {

}

.communication-content {
  font-size: 20px;
  font-weight: 500;
}

.icon img {
  width: 100px;
  height: auto;
  margin-top: 16px;
}

p {
  font-size: 14px;
}